@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito.ttf')  format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins.ttf')  format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico.ttf')  format('truetype');
    font-display: swap;
}